img,button{
    cursor: pointer;
}
@font-face {
    font-family: "RobotoFont";
    src: url("/static/font/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.main-content {
    flex: 1;
    background-color: #f0f0f0; /* 예시로 배경색 추가 */
    position: relative;
}
.data-table-content {
    height: 720px;
    width: 100%;
    overflow: auto;
    cursor: default;
    margin-top: 35px;
}
.search-content {
    height: 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-box {
    position: absolute;
    width: 171px;
    height: 32px;
    top: 100px;
    left: 110px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    background: white;
    overflow: hidden;
}
.select-text{
    position: absolute;
    top: 8px;
    left: 16px;

    font-family: RobotoFont;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

select {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    appearance: none;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
}

.search-inputbox {
    position: absolute;
    width: 302px;
    height: 32px;
    top: 100px;
    left: 289px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    background: #f0f0f0;
    padding-left: 10px;
}

.search-button {
    position: absolute;
    width: 54px;
    height: 34px;
    top: 100px;
    left: 602px;
    padding: 8px, 14px, 8px, 14px;
    border-radius: 5px;
    gap: 10px;
    background-color: #565656;
    border: none;
    color: white;
}

.data-table-text {
    position: absolute;
    width: 710px;
    height: 21px;
    top: 43px;
    left: 110px;
    font-family: RobotoFont;
    font-size: 28px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.data-table-create-button {
    position: absolute;
    top: 105px;
    left: 1702px;
    background-color: #3d5eec;
    color: white;
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.data-table-title {
    height: 57px;
    text-align: left;
    padding: 0%;
}

.data-table {
    position: relative;
    top: -17px;
    left: 40px;
    border-collapse: collapse;
    border: 1px solid #ccc; /* 모든 셀에 하단 경계선 설정 */
    border-radius: 5px;
    margin-top: 18px;
    margin-left: 70px;
    width: 1700px;
    background-color: white;
}

.data-table .data-cell {
    border-bottom: 1px solid #ccc;
    height: 50px;
    font-family: RobotoFont;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
}

.center{
    text-align: center;
}

.firstcell{
    padding-left: 30px;
}
.data-table td {
    border-bottom: 1px solid #ccc;
    height: 40px;
}

img{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
