@font-face {
    font-family: "RobotoFont";
    src: url("/static/font/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  button {
    cursor: pointer;
  }
  .main-content {
    flex: 1;
    background-color: #f0f0f0; /* 예시로 배경색 추가 */
    position: relative;
    
  }

  .title-content {
    height: 111px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  #datePickerInput,#datePickerInput2 {
    width: 120px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    background: white;
    overflow: hidden;
    outline: none;
  }
  
  .search-button {
    width: 54px;
    height: 32px;
    padding: 8px, 14px, 8px, 14px;
    border-radius: 5px;
    gap: 10px;
    background-color: #565656;
    border: none;
    color: white;
  }
  .selectDateContent {
    display: flex;
    align-items: center;
  
  }
  
  .startDateTitle,
  .endDateTitle,
  .startDate,
  .endDate,
  .search-button {
    margin-right: 10px;
  }
  
  .startDate, .endDate {
    padding-left: 10px;
  }
  .deatil-content{
    
  }
  .log-content{
    float:left;
    width: 30%;
    height: 80vh;
    overflow-y: auto;
    text-align: center;
  }
  .rz-content{
    text-align: center;
    float:left;
    width: 100%;
    overflow-y:auto;
    gap:20px;
    
  }
  .rz-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid #ebeaec;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 10px; */
  }
  .detail-chart-in{
    text-align: center;
    height:400px;
    
    
    /* width:50%; */
    /* float:left; */
  
  }
  .detail-chart-out{
    
    text-align: center;
    width:50%;
    float:left;

  }
  


  .pieChart,
  .barChart {
    /* width: 48%;
    height: 600px;
    margin-top: 80px;
    margin-left: 100px; */
  
  }
  