/* -------------------------------------------------------------------------------------------------- */
/* select box, 데이터 목록 테이블 css */
.custom-select {
    position: relative;
    display: inline-block;
    /* margin-left: 70px; */
    margin-top: 30px;
  }
  
  .select-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 171px;
    height: 32px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .search-container{
    margin-left: 4%;
  }
  .search-box {
    width: 302px;
    height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    outline: none;
  }
  
  .search-button {
    width: 54px;
    height: 32px;
    background: #565656;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .data-list-title {
    display: inline-block;
    margin-top: 31px;
    margin-left: 4%;
    font-size: 21px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Roboto;
  }
  
  .data-list-create {
    position: absolute;
    top: 154px;
    right: 0;
    margin: 15px;
    background-color: #3d5eec;
    color: white;
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 3.5%;
  }
  
  .data-table-title {
    height: 45px;
    padding: 0%;
  }
  .data-table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 18px;
    margin-left: 4%;
    width: 92%;
    height: 60px;
  }
  
  .data-table .data-cell {
    width: 150px;
    border-bottom: 1px solid #ccc;
    height: 40px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
  }
  
  .data-table td {
    border-bottom: 1px solid #ccc;
    height: 40px;
    text-align: center;
  }
  
  .pagination {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page-link {
    display: inline-block;
    padding: 8px;
    margin: 0 7px;
    text-decoration: none;
    color: #333;
  }
  
  .page-link:hover {
    background-color: #f1f1f1;
  }
  
  .active {
    background: #3853ff;
    color: white;
    border-radius: 50%;
    display: inline-block;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 784px;
    max-width: 100%;
    height: 500px;
  }
  
  .modal-title {
    height: 40px; /* Set the height of the title area */
    background: #edf0ff;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-title-name {
    position: relative;
    top: 12px;
    left: 20px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .modal-input {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-input1 {
    width: calc((3 / 5) * 100% - 12px);
    padding: 24px;
  }
  
  .modal-input2 {
    width: calc((2 / 5) * 100% - 12px);
  }
  
  .modal-input1,
  .modal-input2 {
    height: 444px;
    box-sizing: border-box;
  }
  
  .dataset-name-input,
  .dataset-root-input {
    width: 100%;
    height: 24px;
  }
  .labeler-option-input {
    width: 100%;
    height: 80px;
  }
  .search-person-button {
    width: 46px;
    height: 25px;
    border-radius: 5px;
    gap: 10px;
    background: #565656;
    color: white;
    margin-top: 5px;
  }
  .checker-option-button {
    width: 140px;
    height: 26px;
    border-radius: 5px;
    border: 1px;
    background-color: white;
    border: 1px solid #9b9b9b;
  }
  
  .checker-search-button {
    width: 61px;
    height: 26px;
    background: #3d5eec;
    color: white;
  
    padding: 3px, 10px, 3px, 10px;
    border-radius: 5px;
    gap: 4px;
    border: none;
  }
  .hidden {
    display: none;
  }
  .modal-input2-box {
    flex-direction: column;
    width: 274px;
    height: 342px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .modal-input2-search {
    height: 36px;
    border-bottom: 1px solid #ccc;
  }
  .labeler-add-input {
    margin-left: 10px;
    height: 32px;
    width: 200px;
    border: none;
  }
  .labeler-add-button {
    width: 61px;
    height: 20px;
    background: #3d5eec;
    color: white;
  
    padding: 3px, 10px, 3px, 10px;
    border-radius: 5px;
    gap: 4px;
    border: none;
  }
  .checker-add-button {
    width: 61px;
    height: 20px;
    background: #3d5eec;
    color: white;
  
    padding: 3px, 10px, 3px, 10px;
    border-radius: 5px;
    gap: 4px;
    border: none;
  }
  #labeleraddbutton {
    margin-right: -8px;
  }
  .checker-cancel-button {
    width: 61px;
    height: 20px;
    background: #9b9b9b;
    color: white;
  
    padding: 3px, 10px, 3px, 10px;
    border-radius: 5px;
    gap: 4px;
    border: none;
  }
  .labeler-set-textarea {
    margin-top: 5px;
    width: 99%;
    height: 100px;
    border: 1px solid #9b9b9b;
    padding-top: 7px;
    padding-left: 11px;
    overflow-y: auto;
  }
  .labeler-add-textarea {
    width: 258px;
    height: 260px;
    border: none;
    margin-left: 16px;
    overflow-y: auto;
  }
  .labeler-add-textarea:focus {
    border: none;
  }
  /* .modal-input2-button {
    border-top: 1px solid #ccc;
  } */
  .model-cancel-button,
  .model-confirm-button {
    width: 43px;
    height: 19px;
    border-radius: 5px;
    gap: 4px;
    color: white;
    border: none;
  }
  .model-cancel-button {
    margin-left: 179px;
    margin-top: 20px;
    background: #9a9a9a;
  }
  .model-confirm-button {
    background: #3d5eec;
  }

  /* 검수자 */
  .labeler-add-textarea2 {
    width: 258px;
    height: 260px;
    border: none;
    margin-left: 16px;
    /* margin-top: 16px; */
    overflow-y: auto;
  }
  .labeler-add-textarea2:focus {
    border: none;
  }

  .labeler-btn {
    margin-bottom: 7px;
    margin-right: 14px;
  
    width: 84px;
    height: 26px;
    border-radius: 999px;
    border: 1px solid #b4c0ff;
    background-color: white;
    color: #b4c0ff;
  }

  .search-cancel-button{
    margin-left: 258px;
  }
  .checker-btn {
    margin-bottom: 7px;
    margin-right: 14px;
  
    width: 84px;
    height: 26px;
    border-radius: 999px;
    border: 1px solid #b4c0ff;
    background-color: white;
    color: #b4c0ff;
  }
  