<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/main/dataManagement.css')}}"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/common/confirmModal.css')}}"
  />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/main/dataManagement.js') }}"
    ></script>
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/common/confirmModal.js') }}"
  ></script>
    <title>DataManagement</title>
  </head>
  <body>
    {% extends 'common/common.html' %} {% block content %}
    <section style="margin-left: 280px">
      <div class="search-container">
        <div class="custom-select">
          <select>
            <option value="all">전체</option>
            <option value="dataset">데이터셋</option>
            <option value="organization">기관명</option>
            <option value="labeler">라벨러</option>
            <option value="reviewer">검수자</option>
          </select>
          <div class="select-icon">
            <img
              src="{{url_for('static', filename='/image/down.svg')}}"
              alt="Dropdown"
              class="dropdown-icon"
            />
          </div>
        </div>

        <input type="text" class="search-box" placeholder="검색" />

        <button class="search-button">조회</button>
      </div>
      <div class="data-list-container">
        <div class="data-list-title">데이터 목록</div>
        <button
          class="data-list-create"
          id="openModalBtn"
          onclick="openCreateModal('{{grp_nm_en}}')"
        >
          + Create
        </button>
        <table class="data-table">
          <thead>
            <tr class="data-table-title">
              <th class="data-cell" style="width: 64px">
                <img src="{{url_for('static', filename='/image/box.svg')}}" />
              </th>
              <th class="data-cell">데이터셋명</th>
              <th class="data-cell">기관명</th>
              <th class="data-cell">작업 상태</th>
              <th class="data-cell">검수 상태</th>
              <th class="data-cell">최초 등록일</th>
              <th class="data-cell">마지막 수정일</th>
              <th class="data-cell">상세정보</th>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/modify.svg')}}"
                />
              </th>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/delete.svg')}}"
                />
              </th>
            </tr>
          </thead>
          <!-- <tbody id="tableBody"></tbody> -->
          <tbody>
            {% for _ in board_list %}
            <tr>
              <th class="data-cell" style="width: 64px">
                <img src="{{url_for('static', filename='/image/box.svg')}}" />
              </th>
              <td class="data-cell">{{_[1]}}</td>
              <td class="data-cell">{{_[2]}}</td>
              <td class="data-cell">
                {% if _[4] == 0 %}
                  상태없음
                {% elif _[4] == 1 %}
                  라벨링 완료
                {% elif _[4] == 2 %}
                  검수 진행
                {% elif _[4] == 3 %}
                  검수 완료
                {% elif _[4] == 4 %}
                  검수 이슈
                {% elif _[4] == 5 %}
                  라벨링 진행
                {% else %}
                  기타 상태
                {% endif %}</td>
              <td class="data-cell">
                {% if _[5] == 0 %}
                상태없음
              {% elif _[5] == 1 %}
                라벨링 완료
              {% elif _[5] == 2 %}
                검수 진행
              {% elif _[5] == 3 %}
                검수 완료
              {% elif _[5] == 4 %}
                검수 이슈
              {% elif _[5] == 5 %}
                라벨링 진행
              {% else %}
                기타 상태
              {% endif %}
              </td>
              <td class="data-cell">{{_[6]}}</td>
              <td class="data-cell">{{_[7]}}</td>
              <td class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/detail.svg')}}"
                  id="openDetailModalBtn"
                  onclick="detailOpenModal('{{_[0]}}', '{{_[1]}}')"
                />
              </td>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/modify.svg')}}"
                />
              </th>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/delete.svg')}}" onclick="deleteDatasetSend('{{grp_nm_en}}','{{_[1]}}')"
                />
              </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- 데이터셋 생성 모달 -->
        <div id="myModal" class="modal">
          <div class="modal-content">
            <div class="modal-title">
              <div class="modal-title-name">데이터셋 생성</div>
              <span
                class="close"
                id="closeModalBtn"
                onclick="closeCreateModal()"
                >&times;</span
              >
            </div>
            <div class="modal-input">
              <div class="modal-input1">
                <div>데이터셋명</div>
                <input
                  type="text"
                  id="datasetNameInput"
                  placeholder="5~30글자/영문,한글,숫자,특수문자"
                  style="margin-top: 8px"
                  class="dataset-name-input"
                />
                <div style="margin-top: 24px">데이터셋 경로</div>
                <input
                  type="text"
                  placeholder="영문,한글,숫자,특수문자"
                  style="margin-top: 8px"
                  class="dataset-root-input"
                />
                <div style="display: flex; align-items: center; margin-top: 24px">
                  <div style="flex-grow: 1" >라벨러 설정</div>
                  <button class="labeler-add-button" id="labeleraddbutton" onclick="onLabelerAddButtonClick('{{grp_idx}}')">+ 추가</button>
                </div>
                <div class="labeler-set-textarea" id="labelerInput"></div>

                <!-- <textarea
                  type="text"
                  id="labelerInput"
                  style="margin-top: 8px;resize: none;"
                  class="labeler-option-input"
                ></textarea> -->

                <div style="margin-top: 24px; margin-bottom: 8px">
                  검수자 설정
                </div>
                <input class="checker-option-button" id="checkerInput"></input>
                <button class="labeler-add-button" onclick="onCheckerAddButtonClick('{{grp_idx}}')">+ 추가</button>
                <button class="checker-cancel-button" onclick="onCheckerDelete()">취소</button>
              </div>
              <div class="modal-input2">
                <div style="margin-top: 24px; margin-bottom: 8px" id="findPersonTitle">설정</div>

                <div class="modal-input2-box" >
                  <div class="modal-input2-search" id="labelerSearch">
                    <input
                      type="text"
                      class="labeler-add-input"
                      placeholder="검색어 입력"
                    />
                    <button class="search-person-button">검색</button>
                  </div>
                  <!-- 라벨러 검색 -->
                  <div class="labeler-add-textarea hidden" id="labelerAll"  style="resize: none;" readonly></div>
                  <div class="modal-input2-button hidden" id="labelerButton">
                    <button class="labeler-cancel-button1" onclick="resetElements()">취소</button>
                    <button class="labeler-confirm-button1">확인</button>
                  </div>
                  <!-- 검수자 검색 -->
                  <div class="labeler-add-textarea2 hidden" id="checkerAll"  style="resize: none;" readonly></div>
                  <div class="modal-input2-button2 hidden" id="checkerButton">
                    <button class="labeler-cancel-button2" onclick="resetElements()">취소</button>
                    <button class="labeler-confirm-button2">확인</button>
                  </div>
                  <div class="labeler-add-textarea3" id="basicAll"  style="resize: none;" readonly></div>
                  <div class="modal-input2-button3" id="basicButton">
                    <!-- <button class="labeler-cancel-button3">취소</button>
                    <button class="labeler-confirm-button3">확인</button> -->
                  </div>
                </div>
                <button class="labeler-cancel-button"   onclick="closeCreateModal()" >취소</button>
                <button
                  class="labeler-confirm-button"
                  onclick="datasetCreateSend('{{grp_nm_en}}')"
                >생성
              </button>
              </div>
            </div>
          </div>
        </div>
        <!-- 데이터셋 추가 모달 -->
        <!-- detail 모달 -->
        <div id="detailModal" class="detailModal">
          <div class="detailmodal-content">
            <div class="detailmodal-title">
              <div class="detailmodal-title-name"></div>
              <span
                class="detailmodal-close"
                id="closeDetailModalBtn"
                onclick="closeDetailModal()"
                >&times;</span
              >
            </div>
            <div class="detailmodal-input">
              <table class="detaildata-table">
                <thead>
                  <tr class="detaildata-table-title">
                    <th class="detaildata-cell" id="cell-sub" style="width: 60px;"></th>
                    <th class="detaildata-cell" id="cell-sub">라벨러</th>
                    <th class="detaildata-cell" id="cell-sub">검수자</th>
                    <th class="detaildata-cell" id="cell-sub">접속경로</th>
                    <th class="detaildata-cell" id="cell-sub">진행도</th>
                    <th class="detaildata-cell" id="cell-sub">총프레임</th>
                    <th class="detaildata-cell" id="cell-sub">진행완료</th>
                    <th class="detaildata-cell" id="cell-sub">검수완료</th>
                    <th class="detaildata-cell" id="cell-sub">이슈사항</th>
                  </tr>
                </thead>
                <tbody id="detailDatamanagement"></tbody>

              </table>
              <div class="progress_organize">
                프로젝트 진행 프레임 :
                <span id="progressFrames">0</span>
                프로젝트 총 프레임 :
                <span id="totalFrames">0</span>
              </div>
              <div class="detialmodal-buttons">
                <!-- <button class="cancel-button" onclick="closeDetailModal()">
                  취소
                </button> -->
                <button class="confirm-button" onclick="closeDetailModal()">
                  확인
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- detail 모달 -->
        <!-- ifrmae 모달 -->
        <div id="iframeModal" class="iframeModal">
        <div class="iframeModal-content">
          <div class="iframeModal-title">
            <span
              class="iframeModal-close" onclick="closeiframeModal()"
              >&times;</span
            >
          </div>
          <div class="iframe-data">
          </div>
        </div>
        </div>
        <!-- ifrmae 모달 -->
        <!-- 확인 모달 -->
        <div id="confirmPopup" class="confirmPopup">
          <div class="confirmPopup-content">
            <span class="confirmPopup-close" onclick="closeconfirmPopup()"
              >&times;</span
            >
            <div class="confirmPopup-container">
              <div class="confirmPopup-title" id="confirmpopupTitle"></div>
              <div class="confirmPopup-message" id="confirmpopupMessage"></div>
            </div>
            <button class="confirmBtn" onclick="confirmpopupOk()">확인</button>
          </div>
        </div>
        <!-- 확인 모달 -->
        <!-- 확인 취소모달 -->
        <div id="confirmcancelPopup" class="confirmcancelPopup">
          <div class="confirmcancelPopup-content">
            <span
              class="confirmcancelPopup-close"
              onclick="closeconfirmcancelPopup()"
              >&times;</span
            >
            <div class="confirmcancelPopup-container">
              <div class="confirmcancelPopup-title" id="confirmcancelpopupTitle">
                확인 취소 모달
              </div>
              <div
                class="confirmcancelPopup-message"
                id="confirmcancelpopupMessage"
              >
                확인 취소 모달입니다.
              </div>
            </div>
            <button class="confirmBtn" onclick="confirmcancelpopupOk()">
              확인
            </button>
            <button class="confirmcancelBtn" onclick="confirmcancelpopupCancel()">
              취소
            </button>
          </div>
        </div>
        <!-- 확인 취소 모달 -->
      </div>
      <script>
        //상세정보 모달 js
        var detailModal = document.getElementById("detailModal");
        var openDetailModalBtn = document.getElementById("openDetailModalBtn");

        window.addEventListener("click", function (event) {
          if (event.target == detailModal) {
            detailModal.style.display = "none";
          }
        });
      </script>
      <div class="pagination">
        <a href="#" class="page-link">&laquo; </a>
        <a href="#" class="page-link">&lt; </a>
        <a href="#" class="page-link active">1</a>
        <a href="#" class="page-link">2</a>
        <a href="#" class="page-link">3</a>
        <a href="#" class="page-link">4</a>
        <a href="#" class="page-link">5</a>
        <a href="#" class="page-link">&gt; </a>
        <a href="#" class="page-link"> &raquo;</a>
      </div>
    </section>
    {% endblock %}
  </body>
</html>
