<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/main/modelManagement.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/common/confirmModal.css')}}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/common/confirmModal.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/main/modelManagement.js') }}"
    ></script>
    <title>modelManagement</title>
  </head>
  <body>
    {% extends 'common/common.html' %} {% block content %}
    <section style="margin-left: 280px">
      <div class="search-container">
        <div class="custom-select">
          <select>
            <option value="all">전체</option>
            <option value="modelname">모델명</option>
            <option value="organization">기관명</option>
          </select>
          <div class="select-icon">
            <img
              src="{{url_for('static', filename='/image/down.svg')}}"
              alt="Dropdown"
              class="dropdown-icon"
            />
          </div>
        </div>

        <input type="text" class="search-box" placeholder="검색" />

        <button class="search-button">조회</button>
      </div>
      <div class="data-list-container">
        <div class="data-list-title">모델 목록</div>
        <button
          class="data-list-create"
          id="openModalBtn"
          onclick="openCreateModal()"
        >
          + Create
        </button>
        <!-- 데이터셋 생성 모달 -->
        <div id="myModal" class="modal">
          <div class="modal-content">
            <div class="modal-title">
              <div class="modal-title-name">모델 생성</div>
              <span
                class="close"
                id="closeModalBtn"
                onclick="closeCreateModal()"
                >&times;</span
              >
            </div>
            <div class="modal-input">
              <div class="modal-input1">
                <div>모델명</div>
                <input
                  type="text"
                  id="modelsetNameInput"
                  placeholder="5~30글자/영문,한글,숫자,특수문자"
                  style="margin-top: 8px"
                  class="model-name-input"
                />
                <div style="margin-top: 24px">개발환경 경로</div>
                <input
                  type="text"
                  placeholder="영문,한글,숫자,특수문자"
                  style="margin-top: 8px"
                  class="dataset-root-input"
                />
                <div
                  style="display: flex; align-items: center; margin-top: 24px"
                >
                  <div style="flex-grow: 1">데이터셋명</div>
                  <button class="dataset-search-button">검색</button>
                </div>
                <input
                  type="text"
                  id="dataset-name"
                  placeholder="5~30글자/영문,한글,숫자,특수문자"
                  style="margin-top: 8px"
                  class="dataset-name-input"
                />
                <div
                  style="
                    margin-top: 24px;
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                  "
                >
                  <div style="flex-grow: 1">개발자 설정</div>
                  <button class="developer-search-button" onclick="onDevloperAddButtonClick('{{grp_idx}}')">추가</button>
                </div>
                <textarea
                  type="text"
                  id="developer"
                  style="margin-top: 5px; resize: none; text-align: left"
                  class="labeler-option-input"
                >
                </textarea>

                <div
                  style="margin-top: 8px; display: flex; align-items: center"
                >
                  <img
                    style="margin-right: 6px; margin-top: -14px"
                    src="{{url_for('static', filename='/image/alert.svg')}}"
                  />
                  <div class="alert-text">
                    프로젝트 생성 요청 시 성공적으로 생성되면 성공이라는
                    스테이터스 코드, 접속 URL(IP:port)리턴, 개발환경 접속 시
                    해당 URL(IP:port) 제공
                  </div>
                </div>
              </div>
              <div class="modal-input2">
                <div style="margin-top: 24px; margin-bottom: 8px">
                  데이터셋 추가
                </div>
                <div class="modal-input2-box">
                  <div class="modal-input2-search">
                    <input
                      type="text"
                      class="dataset-add-input"
                      placeholder="검색어 입력"
                    />
                    <button class="dataset-add-button">검색</button>
                  </div>
                  <div class="dataset-add-textarea" id = "devloperAll"   style="resize: none;" readonly></div>
                  <div class="modal-input2-button">
                    <button class="dataset-cancel-button">취소</button>
                    <button class="dataset-confirm-button">확인</button>
                  </div>
                </div>
                <button class="dataset-cancel-button">취소</button>
                <button
                  class="dataset-confirm-button"
                  onclick="modelsetCreateSend('{{grp_nm_en}}')"
                >
                  확인
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- 데이터셋 생성 모달 -->

        <!-- 상세정보 모달 -->
        <table class="data-table">
          <thead>
            <tr class="data-table-title">
              <th class="data-cell" style="width: 64px">
                <img src="{{url_for('static', filename='/image/box.svg')}}" />
              </th>
              <th class="data-cell">모델명</th>
              <th class="data-cell">기관명</th>
              <th class="data-cell">최초 등록일</th>
              <th class="data-cell">마지막 수정일</th>
              <th class="data-cell">상세정보</th>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/modify.svg')}}"
                />
              </th>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/delete.svg')}}"
                />
              </th>
            </tr>
          </thead>
          <tbody>
            {% for _ in board_list %}
            <tr>
              <th class="data-cell" style="width: 64px">
                <img src="{{url_for('static', filename='/image/box.svg')}}" />
              </th>
              <td class="data-cell">{{_[1]}}</td>
              <td class="data-cell">{{_[3]}}</td>
              <td class="data-cell">{{_[5]}}</td>
              <td class="data-cell">{{_[6]}}</td>

              <td class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/detail.svg')}}"
                  id="openDetailModalBtn"
                  onclick="detailOpenModal('{{_[0]}}', '{{_[1]}}')"
                />
                <!-- detail 모달 -->
                <div id="detailModal" class="detailModal">
                  <div class="detailmodal-content">
                    <div class="detailmodal-title">
                      <div class="detailmodal-title-name"></div>
                      <span
                        class="detailmodal-close"
                        id="closeDetailModalBtn"
                        onclick="closeDetailModal()"
                        >&times;</span
                      >
                    </div>
                    <div class="detailmodal-input">
                      <table class="detaildata-table">
                        <thead>
                          <tr class="detaildata-table-title">
                            <th class="detaildata-cell" id="cell-sub"></th>
                            <th class="detaildata-cell" id="cell-sub">
                              개발자
                            </th>
                            <th class="detaildata-cell" id="cell-sub">
                              프로젝트
                            </th>
                            <th class="detaildata-cell">접속 경로</th>
                          </tr>
                        </thead>
                        <tbody id="detailModelManagement"></tbody>
                      </table>
                      <div class="detialmodal-buttons">
                        <!-- <button class="cancel-button" onclick="closeDetailModal()">취소</button> -->
                        <button
                          class="confirm-button"
                          onclick="closeDetailModal() "
                        >
                          확인
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- detail 모달 -->
              </td>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/modify.svg')}}"
                />
              </th>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/delete.svg')}}"
                  onclick="deleteModelsetSend('{{grp_nm_en}}','{{_[1]}}','{{_[4]}}')"
                />
              </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- 확인 모달 -->
        <div id="confirmPopup" class="confirmPopup">
          <div class="confirmPopup-content">
            <span class="confirmPopup-close" onclick="closeconfirmPopup()"
              >&times;</span
            >
            <div class="confirmPopup-container">
              <div class="confirmPopup-title" id="confirmpopupTitle"></div>
              <div class="confirmPopup-message" id="confirmpopupMessage"></div>
            </div>
            <button class="confirmBtn" onclick="confirmpopupOk()">확인</button>
          </div>
        </div>
        <!-- 확인 모달 -->
        <!-- 확인 취소모달 -->
        <div id="confirmcancelPopup" class="confirmcancelPopup">
          <div class="confirmcancelPopup-content">
            <span
              class="confirmcancelPopup-close"
              onclick="closeconfirmcancelPopup()"
              >&times;</span
            >
            <div class="confirmcancelPopup-container">
              <div
                class="confirmcancelPopup-title"
                id="confirmcancelpopupTitle"
              >
                확인 취소 모달
              </div>
              <div
                class="confirmcancelPopup-message"
                id="confirmcancelpopupMessage"
              >
                확인 취소 모달입니다.
              </div>
            </div>
            <button class="confirmBtn" onclick="confirmcancelpopupOk()">
              확인
            </button>
            <button
              class="confirmcancelBtn"
              onclick="confirmcancelpopupCancel()"
            >
              취소
            </button>
          </div>
        </div>
        <!-- 확인 취소 모달 -->
      </div>
      <script>
        window.addEventListener("click", function (event) {
          if (event.target == detailModal) {
            detailModal.style.display = "none";
          }
        });
      </script>
      <div class="pagination">
        <a href="#" class="page-link">&laquo; </a>
        <a href="#" class="page-link">&lt; </a>
        <a href="#" class="page-link active">1</a>
        <a href="#" class="page-link">2</a>
        <a href="#" class="page-link">3</a>
        <a href="#" class="page-link">4</a>
        <a href="#" class="page-link">5</a>
        <a href="#" class="page-link">&gt; </a>
        <a href="#" class="page-link"> &raquo;</a>
      </div>
    </section>
    {% endblock %}
  </body>
</html>
