<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/main/modelManagement.css')}}"
    />
    <title>modelManagement</title>
  </head>
  <body>
    {% extends 'common/common.html' %} {% block content %}
    <section style="margin-left: 280px">
      <div class="search-container">
        <div class="custom-select">
          <select>
            <option value="all">전체</option>
            <option value="modelname">모델명</option>
            <option value="organization">기관명</option>
          </select>
          <div class="select-icon">
            <img
              src="{{url_for('static', filename='/image/down.svg')}}"
              alt="Dropdown"
              class="dropdown-icon"
            />
          </div>
        </div>

        <input type="text" class="search-box" placeholder="검색" />

        <button class="search-button">조회</button>
      </div>
      <div class="data-list-container">
        <div class="data-list-title">모델 목록</div>
        <button class="data-list-create" id="openModalBtn">+ Create</button>
        <!-- 데이터셋 생성 모달 -->
        <div id="myModal" class="modal">
          <div class="modal-content">
            <div class="modal-title">
              <div class="modal-title-name">모델 생성</div>
              <span class="close" id="closeModalBtn">&times;</span>
            </div>
            <div class="modal-input">
              <div class="modal-input1">
                <div>모델명</div>
                <input
                  type="text"
                  placeholder="5~30글자/영문,한글,숫자,특수문자"
                  style="margin-top: 8px"
                  class="model-name-input"
                />
                <div style="margin-top: 24px">개발환경 경로</div>
                <input
                  type="text"
                  placeholder="영문,한글,숫자,특수문자"
                  style="margin-top: 8px"
                  class="dataset-root-input"
                />
                <div
                  style="display: flex; align-items: center; margin-top: 24px"
                >
                  <div style="flex-grow: 1">데이터셋명</div>
                  <button class="dataset-search-button">검색</button>
                </div>
                <input
                  type="text"
                  placeholder="5~30글자/영문,한글,숫자,특수문자"
                  style="margin-top: 8px"
                  class="dataset-name-input"
                />
                <div
                  style="
                    margin-top: 24px;
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                  "
                >
                  <div style="flex-grow: 1">개발자 설정</div>
                  <button class="developer-search-button">추가</button>
                </div>
                <input
                  type="text"
                  style="margin-top: 5px"
                  class="labeler-option-input"
                />
                <div
                  style="margin-top: 8px; display: flex; align-items: center"
                >
                  <img
                    style="margin-right: 6px; margin-top: -14px"
                    src="{{url_for('static', filename='/image/alert.svg')}}"
                  />
                  <div class="alert-text">
                    프로젝트 생성 요청 시 성공적으로 생성되면 성공이라는
                    스테이터스 코드, 접속 URL(IP:port)리턴, 개발환경 접속 시
                    해당 URL(IP:port) 제공
                  </div>
                </div>
              </div>
              <div class="modal-input2">
                <div style="margin-top: 24px; margin-bottom: 8px">
                  데이터셋 추가
                </div>
                <div class="modal-input2-box">
                  <div class="modal-input2-search">
                    <input
                      type="text"
                      class="dataset-add-input"
                      placeholder="검색어 입력"
                    />
                    <button class="dataset-add-button">검색</button>
                  </div>
                  <textarea class="dataset-add-textarea"></textarea>
                  <div class="modal-input2-button">
                    <button class="dataset-cancel-button">취소</button>
                    <button class="dataset-confirm-button">확인</button>
                  </div>
                </div>
                <button class="dataset-cancel-button">취소</button>
                <button class="dataset-confirm-button">확인</button>
              </div>
            </div>
          </div>
        </div>
        <script>
          // create 모달 js
          var modal = document.getElementById("myModal");
          var openModalBtn = document.getElementById("openModalBtn");
          var closeModalBtn = document.getElementById("closeModalBtn");

          openModalBtn.addEventListener("click", function () {
            modal.style.display = "block";
          });

          closeModalBtn.addEventListener("click", function () {
            modal.style.display = "none";
          });
        </script>

        <table class="data-table">
          <thead>
            <tr class="data-table-title">
              <th
                class="data-cell"
                style="width: 640px; text-align: left; padding-left: 60px"
              >
                <img
                  style="
                    position: absolute;
                    margin-left: -30px;
                    margin-top: -3px;
                  "
                  src="{{url_for('static', filename='/image/box.svg')}}"
                />
                모델명
              </th>
              <th class="data-cell">기관명</th>
              <th class="data-cell">최초 등록일</th>
              <th class="data-cell">마지막 수정일</th>
              <th class="data-cell">상세정보</th>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/delete.svg')}}"
                />
              </th>
            </tr>
          </thead>
          <tbody>
            {% for _ in range(10) %}
            <tr>
              <td
                class="data-cell"
                style="text-align: left; padding-left: 60px"
              >
                <img
                  style="
                    position: absolute;
                    margin-left: -30px;
                    margin-top: -3px;
                  "
                  src="{{url_for('static', filename='/image/box.svg')}}"
                />
                model name
              </td>
              <td class="data-cell">etri</td>
              <td class="data-cell">2023.11.20</td>
              <td class="data-cell">2023.11.31</td>
              <td class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/detail.svg')}}"
                  id="openDetailModalBtn"
                />
                <!-- detail 모달 -->
                <div id="detailModal" class="detailModal">
                  <div class="detailmodal-content">
                    <div class="detailmodal-title">
                      <div class="detailmodal-title-name">
                        [Project 01] 상세정보
                      </div>
                      <span class="detailmodal-close" id="closeDetailModalBtn"
                        >&times;</span
                      >
                    </div>
                    <div class="detailmodal-input">
                      <table class="detaildata-table">
                        <thead>
                          <tr class="detaildata-table-title">
                            <th
                              class="detaildata-cell"
                              style="
                                width: 20px;
                                border-right: 1px solid #c5c5c5;
                              "
                            ></th>
                            <th class="detaildata-cell">라벨러</th>
                            <th class="detaildata-cell">검수자</th>
                            <th class="detaildata-cell">접속경로</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in range(5) %}
                          <tr>
                            <td
                              class="detaildata-cell"
                              style="
                                width: 20px;
                                border-right: 1px solid #c5c5c5;
                              "
                            >
                              {{i+1}}
                            </td>
                            <td class="detaildata-cell">고길동</td>
                            <td class="detaildata-cell">홍길동</td>
                            <td class="detaildata-cell">접속경로</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <div class="detialmodal-buttons">
                        <button class="cancel-button">취소</button>
                        <button class="confirm-button">확인</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- detail 모달 -->
              </td>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/image/modify.svg')}}"
                />
              </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <script>
        //상세정보 모달 js
        var detailModal = document.getElementById("detailModal");
        var openDetailModalBtn = document.getElementById("openDetailModalBtn");
        var closeDetailModalBtn = document.getElementById(
          "closeDetailModalBtn"
        );

        openDetailModalBtn.addEventListener("click", function () {
          detailModal.style.display = "block";
        });

        closeDetailModalBtn.addEventListener("click", function () {
          detailModal.style.display = "none";
        });

        window.addEventListener("click", function (event) {
          if (event.target == detailModal) {
            detailModal.style.display = "none";
          }
        });
      </script>
      <div class="pagination">
        <a href="#" class="page-link">&laquo; </a>
        <a href="#" class="page-link">&lt; </a>
        <a href="#" class="page-link active">1</a>
        <a href="#" class="page-link">2</a>
        <a href="#" class="page-link">3</a>
        <a href="#" class="page-link">4</a>
        <a href="#" class="page-link">5</a>
        <a href="#" class="page-link">&gt; </a>
        <a href="#" class="page-link"> &raquo;</a>
      </div>
    </section>
    {% endblock %}
  </body>
</html>
