/* select box, 데이터 목록 테이블 css */
.custom-select {
  position: relative;
  display: inline-block;
  margin-left: 70px;
  margin-top: 40px;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 171px;
  height: 32px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-box {
  width: 302px;
  height: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  outline: none;
}

.search-button {
  width: 54px;
  height: 32px;
  background: #565656;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.data-list-title {
  display: inline-block; /* 인라인 레벨 요소로 설정 */
  margin-top: 31px;
  margin-left: 70px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Roboto;
}

.data-list-create {
  position: absolute;
  right: 70px;

  background-color: #3d5eec;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.data-table-title {
  height: 45px;
  padding: 0%;
}
.data-table {
  border-collapse: collapse;
  border: 1px solid #ccc; /* 모든 셀에 하단 경계선 설정 */
  margin-top: 18px;
  margin-left: 70px;
  width: 1500px;
  height: 60px;
}

.data-table .data-cell {
  width: 150px; /* 각 영역의 너비 조절 */
  border-bottom: 1px solid #ccc; /* 모든 셀에 하단 경계선 설정 */
  height: 40px; /* 각 행의 높이 설정 */
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}
.data-table th,
.data-table td {
  width: 150px;
  border-bottom: 1px solid #ccc;
  height: 40px;
  text-align: center; /* 텍스트 가운데 정렬 */
}

.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link {
  display: inline-block;
  padding: 8px;
  margin: 0 7px;
  text-decoration: none;
  color: #333;
}

.page-link:hover {
  background-color: #f1f1f1;
}

.active {
  background: #3853ff;
  color: white;
  border-radius: 50%; /* 동그라미 모양으로 설정 */
  display: inline-block; /* 둥근 모양을 가진 인라인 블록 요소로 만듭니다. */
}

/* -------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* 데이터셋 상세 모달 css */
.detailModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.detailmodal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  max-width: 100%;
  height: 480px;
}
.detailmodal-title {
  height: 40px;
  background: #edf0ff;
}

.detailmodal-close {
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.detailmodal-title-name {
  position: relative;
  top: 10px;
  left: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.developer-data {
  position: absolute;
  width: 300px;
  height: 360px;
  top: 61px;
  left: 25px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
}
.developer-data-title {
  height: 50px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
}

.developer-data,
.checker-data {
  flex: 1;
}
.developer-table {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 85%;
}

.developer-row {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.developer-cell {
  text-align: center;
}

.detail-modal-comfirm {
  position: absolute;
  width: 43px;
  height: 20px;
  top: 441px;
  left: 282px;
  border-radius: 5px;
  gap: 4px;
  background: #3d5eec;
  color: white;
  border: none;
}
.detail-modal-cancel {
  position: absolute;
  width: 43px;
  height: 20px;
  top: 441px;
  left: 231px;
  border-radius: 5px;
  gap: 4px;
  background: #9a9a9a;
  color: white;
  border: none;
}
/* ----------------------------------------------------------------------------------------- */
