body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
}

.login_1 {
  width: 503px;
}

.login_2 {
  flex: 1;
  width: 497px;
  height: 600px;
}
.login-text {
  margin-top: 97px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #3d5eec;
}
.id-input,
.password-input {
  border: 1px solid #9b9b9b;
  width: 387px;
  height: 40px;
  border-radius: 999px;
  background: white;
  outline: none;
  margin-left: 55px;
  text-indent: 24px;
}
.id-input {
  margin-top: 56px;
}
.password-input {
  margin-top: 24px;
}
.id-input::placeholder,
.password-input::placeholder {
  color: #bbbbbb;
}
.form-bottom {
  margin-left: 55px;
}
.forget-area {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 중앙 정렬을 위해 필요할 수 있습니다. */
  margin-top: 22px;
}

.forget-area img {
  position: absolute;
}

.forget-area a {
  float: right;
  color: #c7c7c7;
}
.keep-text {
  margin-left: 35px;
  margin-top: 2px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #848484;
}
.forget-pwd {
  margin-left: 60px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
  color: #c7c7c7;
  text-decoration: none;
}
.login-button {
  margin-top: 53px;
  width: 387px;
  height: 45px;

  padding: 10px, 167px, 10px, 167px;
  border-radius: 999px;
  gap: 10px;
  border: none;

  color: white;
  background: #3d5eec;
}
.signup {
  padding-top: 75px;
  color: #c7c7c7;
}
.signup-link {
  color: #3853ff;
  text-decoration: none;
}
