/* -------------------------------------------------------------------------------------------------- */
/* select box, 데이터 목록 테이블 css */
.custom-select {
  position: relative;
  display: inline-block;
  margin-left: 70px;
  margin-top: 40px;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 171px;
  height: 32px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-box {
  width: 302px;
  height: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  outline: none;
}

.search-button {
  width: 54px;
  height: 32px;
  background: #565656;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.data-list-title {
  display: inline-block;
  margin-top: 31px;
  margin-left: 70px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Roboto;
}

.data-list-create {
  position: absolute;
  right: 70px;

  background-color: #3d5eec;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.data-table-title {
  height: 45px;
  padding: 0%;
}
.data-table {
  border-collapse: collapse;
  border: 1px solid #ccc; /* 모든 셀에 하단 경계선 설정 */
  margin-top: 18px;
  margin-left: 70px;
  width: 1500px;
  height: 60px;
}

.data-table .data-cell {
  width: 150px;
  border-bottom: 1px solid #ccc;
  height: 40px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}

.data-table td {
  border-bottom: 1px solid #ccc;
  height: 40px;
  text-align: center;
}

.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link {
  display: inline-block;
  padding: 8px;
  margin: 0 7px;
  text-decoration: none;
  color: #333;
}

.page-link:hover {
  background-color: #f1f1f1;
}

.active {
  background: #3853ff;
  color: white;
  border-radius: 50%;
  display: inline-block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 784px;
  max-width: 100%;
  height: 484px;
}

.modal-title {
  height: 40px; /* Set the height of the title area */
  background: #edf0ff;
}

.close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.modal-title-name {
  position: relative;
  top: 12px;
  left: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.modal-input {
  display: flex;
  justify-content: space-between;
}

.modal-input1 {
  width: calc((3 / 5) * 100% - 12px);
  padding: 24px;
}

.modal-input2 {
  width: calc((2 / 5) * 100% - 12px);
}

.modal-input1,
.modal-input2 {
  height: 444px;
  box-sizing: border-box;
}

.dataset-name-input,
.dataset-root-input {
  width: 100%;
  height: 24px;
}
.labeler-option-input {
  width: 100%;
  height: 80px;
}
.search-person-button {
  width: 43px;
  height: 19px;
  border-radius: 5px;
  gap: 10px;
  background: #565656;
  color: white;
}
.checker-option-button {
  width: 140px;
  height: 26px;
  border-radius: 5px;
  border: 1px;
  background-color: white;
  border: 1px solid #9b9b9b;
}

.checker-search-button {
  width: 61px;
  height: 26px;
  background: #3d5eec;
  color: white;

  padding: 3px, 10px, 3px, 10px;
  border-radius: 5px;
  gap: 4px;
  border: none;
}
.hidden {
  display: none;
}
.modal-input2-box {
  flex-direction: column;
  width: 274px;
  height: 342px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.modal-input2-search {
  height: 36px;
  border-bottom: 1px solid #ccc;
}
.labeler-add-input {
  margin-left: 10px;
  height: 32px;
  width: 200px;
  border: none;
}
.labeler-add-button {
  width: 61px;
  height: 20px;
  background: #3d5eec;
  color: white;

  padding: 3px, 10px, 3px, 10px;
  border-radius: 5px;
  gap: 4px;
  border: none;
}
#labeleraddbutton {
  margin-right: -8px;
}
.checker-cancel-button {
  width: 61px;
  height: 20px;
  background: #9b9b9b;
  color: white;

  padding: 3px, 10px, 3px, 10px;
  border-radius: 5px;
  gap: 4px;
  border: none;
}
.labeler-set-textarea {
  margin-top: 5px;
  width: 99%;
  height: 100px;
  border: 1px solid #9b9b9b;
  padding-top: 7px;
  padding-left: 11px;
  overflow-y: auto;
}
.labeler-add-textarea {
  width: 258px;
  height: 260px;
  border: none;
  margin-left: 16px;
  margin-top: 16px;
  overflow-y: auto;
}
.labeler-add-textarea:focus {
  border: none;
}
.modal-input2-button {
  border-top: 1px solid #ccc;
}
.labeler-cancel-button,
.labeler-confirm-button {
  width: 43px;
  height: 19px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
}
.labeler-cancel-button {
  margin-left: 179px;
  margin-top: 5px;
  background: #9a9a9a;
}
.labeler-confirm-button {
  background: #3d5eec;
}
.labeler-cancel-button1,
.labeler-confirm-button1 {
  width: 43px;
  height: 19px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
}
.labeler-cancel-button1 {
  margin-left: 177px;
  margin-top: 5px;
  background: #9a9a9a;
}
.labeler-confirm-button1 {
  background: #3d5eec;
}
.labeler-add-textarea2 {
  width: 258px;
  height: 260px;
  border: none;
  margin-left: 16px;
  margin-top: 16px;
  overflow-y: auto;
}
.labeler-add-textarea2:focus {
  border: none;
}
.modal-input2-button2 {
  border-top: 1px solid #ccc;
}
.labeler-cancel-button2,
.labeler-confirm-button2 {
  width: 43px;
  height: 19px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
}
.labeler-cancel-button2 {
  margin-left: 177px;
  margin-top: 5px;
  background: #9a9a9a;
}
.labeler-confirm-button2 {
  background: #3d5eec;
}

.modal-input2-button3 {
  border-top: 1px solid #ccc;
}
.labeler-cancel-button3,
.labeler-confirm-button3 {
  width: 43px;
  height: 19px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
}
.labeler-cancel-button3 {
  margin-left: 175px;
  margin-top: 5px;
  background: #9a9a9a;
}
.labeler-confirm-button3 {
  background: #3d5eec;
}
.labeler-btn {
  margin-bottom: 7px;
  margin-right: 14px;

  width: 84px;
  height: 26px;
  border-radius: 999px;
  border: 1px solid #b4c0ff;
  background-color: white;
  color: #b4c0ff;
}
.checker-btn {
  margin-bottom: 7px;
  margin-right: 14px;

  width: 84px;
  height: 26px;
  border-radius: 999px;
  border: 1px solid #b4c0ff;
  background-color: white;
  color: #b4c0ff;
}

/* -------------------------------------------------------------------------------------------------- */
/* 데이터셋 상세 모달 css */
.detailModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.detailmodal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  max-width: 100%;
  height: 480px;
}

.detailmodal-title {
  height: 40px;
  background: #edf0ff;
}

.detailmodal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.detailmodal-title-name {
  position: relative;
  top: 10px;
  left: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.detailmodal-input {
  display: flex;
  justify-content: space-between;
  height: 440px;

  flex-direction: column;
  align-items: center;
}
.detaildata-table-title {
  height: 45px;
  padding: 0%;
}
.detaildata-table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1140px;
  height: 60px;
  width: 1150px;
  border-radius: 5px;
}

.detaildata-table .detaildata-cell {
  width: 150px;
  border-bottom: 1px solid #ccc;
  height: 50px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}
.detaildata-table th,
.detaildata-table td {
  width: 150px;
  border-bottom: 1px solid #ccc;
  height: 40px;
  text-align: center;
}
.progress_organize {
  position: absolute;
  top: 433px;
  left: 25px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.detialmodal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 19px;
}
.cancel-button {
  width: 43px;
  height: 20px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
  margin-left: 17px;
  margin-top: 7px;
  background: #9a9a9a;
}
.confirm-button {
  width: 43px;
  height: 20px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
  margin-left: 1100px;
  margin-top: 7px;
  background: #3d5eec;
}
#cell-sub {
  border-right: 1px solid #f1f1f1;
}

#dateset-progress-detail-button {
  width: 75px;
  height: 22px;
  padding: 5px 10px;
  border-radius: 999px;
  gap: 4px;
  background: #d9d9d9;
  color: white;
  border: none;
  cursor: pointer;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
}
#dateset-inspect-detail-button {
  width: 70px;
  height: 22px;
  padding: 5px 10px;
  border-radius: 999px;
  gap: 4px;
  background: #d9d9d9;
  color: white;
  border: none;
  cursor: pointer;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
}
/* -------------------------------------------------------------------------------------------------- */
/* iframe modal */
#iframeModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* 어두운 배경색 (rgba를 사용하여 투명도 조절) */
  z-index: 9999;
  overflow: auto;
}

/* 내용을 가운데 정렬하려면 필요한 스타일을 추가합니다. */
#iframeModal .iframeModal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #fff;
}

.iframeModal-title {
  height: 30px;
  background: #edf0ff;
}

.iframeModal-close {
  position: absolute;
  top: 2px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.iframe-data {
  height: calc(100% - 30px);
}
