

/* ----------------------------------------------------------------------------------------- */
/* 데이터셋 생성 모달 css */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  width: 784px;
  max-width: 100%;
  height: 484px;
}

.modal-title {
  height: 40px;
  background: #edf0ff;
}

.close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.modal-title-name {
  position: relative;
  top: 10px;
  left: 20px;
  font-size: 18px;
}
.modal-input {
  display: flex;
  justify-content: space-between;
}

.modal-input1 {
  width: calc((3 / 5) * 100% - 12px);
  padding: 24px;
}

.modal-input2 {
  width: calc((2 / 5) * 100% - 12px);
}

.modal-input1,
.modal-input2 {
  height: 444px;
  box-sizing: border-box;
}

.model-name-input,
.dataset-name-input,
.dataset-root-input {
  width: 100%;
  height: 24px;
}
.labeler-option-input {
  width: 100%;
  height: 80px;
}
.dataset-search-button {
  width: 61px;
  height: 20px;
  background: #3d5eec;
  color: white;

  padding: 3px, 10px, 3px, 10px;
  border-radius: 5px;
  gap: 4px;
  border: none;
}
.developer-search-button {
  width: 61px;
  height: 20px;
  background: #3d5eec;
  color: white;

  padding: 3px, 10px, 3px, 10px;
  border-radius: 5px;
  gap: 4px;
  border: none;
}

.modal-input2-box {
  width: 274px;
  height: 342px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.modal-input2-search {
  height: 36px;
  border-bottom: 1px solid #ccc;
}
.dataset-add-input {
  margin-left: 10px;
  height: 32px;
  width: 200px;
  border: none;
}
.dataset-add-button {
  width: 46px;
  height: 25px;
  border-radius: 5px;
  gap: 10px;
  background: #565656;
  color: white;
  margin-top: 5px;
}
.model-add-textarea {
  /* margin-top: 16px; */
  margin-left: 16px;
  width: 270px;
  height: 260px;
  border: none;
}
/* .modal-input2-button {
  border-top: 1px solid #ccc;
} */
.model-search-cancel-button,
.dataset-confirm-button {
  width: 43px;
  height: 19px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
}
.model-search-cancel-button {
  margin-left: 261px;
  margin-top: 20px;
  /* background: #9a9a9a; */
  color: black;
  cursor:grab;
}
.model-cancel-button,
.dataset-confirm-button {
  width: 43px;
  height: 19px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
}
.model-cancel-button {
  margin-left: 178px;
  margin-top: 20px;
  background: #9a9a9a;
}
.dataset-confirm-button {
  background: #3d5eec;
}
.alert-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #6d6d6d;
}
.devloper-btn {
  width: 84px;
  height: 26px;
  border-radius: 999px;
  border: 1px solid #b4c0ff;
  background-color: white;
  color: #b4c0ff;
}
#datasetAll {
  /* margin-top: 16px; */
  margin-left: 16px;
}
.dataset-btn {
  margin-bottom: 8px;
  width: 242px;
  height: 26px;
  border-radius: 999px;
  border: 1px solid #b4c0ff;
  border: 1px solid #b4c0ff;
  background-color: white;
}
.hidden {
  display: none;
}
.developer-btn {
  margin-bottom: 7px;
  margin-right: 14px;

  width: 84px;
  height: 26px;
  border-radius: 999px;
  border: 1px solid #b4c0ff;
  background-color: white;
  color: #b4c0ff;
}

#developer {
  padding-top: 11px;
  padding-left: 12px;
}
/* ----------------------------------------------------------------------------------------- */
/* 데이터셋 상세 모달 css */
.detailModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.detailmodal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  max-width: 100%;
  height: 480px;
}

.detailmodal-title {
  height: 40px;
  background: #edf0ff;
}

.detailmodal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.detailmodal-title-name {
  position: relative;
  top: 10px;
  left: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.detailmodal-input {
  display: flex;
  justify-content: space-between;
  height: 440px;

  flex-direction: column;
  align-items: center;
}
.detaildata-table-title {
  height: 45px;
  padding: 0%;
}
.detaildata-table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1140px;
  height: 60px;
  width: 1150px;
  border-radius: 5px;
}

.detaildata-table .detaildata-cell {
  width: 150px;
  border-bottom: 1px solid #ccc;
  height: 50px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}
.detaildata-table th,
.detaildata-table td {
  width: 150px;
  border-bottom: 1px solid #ccc;
  height: 40px;
  text-align: center;
}

.detialmodal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 19px;
  margin-top: auto;
}
.cancel-button {
  width: 43px;
  height: 20px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
  margin-top: 7px;
  background: #9a9a9a;
  margin-left: 1050px;
  margin-right: 8px;
}
.confirm-button {
  width: 43px;
  height: 20px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
  margin-left: 1100px;
  margin-top: 7px;
  background: #3d5eec;
}

#cell-sub {
  border-right: 1px solid #f1f1f1;
}

#link-button{
  width: 80px;
  height: 22px;
  padding: 5px 10px;
  border-radius: 999px;
  gap: 4px;
  background: #d9d9d9;
  color: white;
  border: none;
  cursor: pointer;
  
  font-family: Roboto;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
}
/* ----------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* iframe modal */
#iframeModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* 어두운 배경색 (rgba를 사용하여 투명도 조절) */
  z-index: 9999;
  overflow: auto;
}

/* 내용을 가운데 정렬하려면 필요한 스타일을 추가합니다. */
#iframeModal .iframeModal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #fff;
}

.iframeModal-title {
  height: 30px;
  background: #edf0ff;
}

.iframeModal-close {
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.iframe-data {
  height: calc(100% - 30px);
}

