<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/common/sidebar.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/common/confirmModal.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/common/title.css')}}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/common/common.js') }}"
    ></script>
    <meta charset="UTF-8" />
    <title>AI 자율주행 플랫폼</title>
  </head>

  <body>
    <header>
      <div class="img-container">
        <!-- <img
          src="{{url_for('static', filename='/image/username.svg')}}"
          alt="Image"
          class="img-username"
        /> -->

        <h1 class="title-logo">AI 메타버스 재난안전 플랫폼</h1>
        <button class="custom-button"    onclick="showOverlayBox()">
          <img
            src="{{url_for('static', filename='/image/username.svg')}}"
            alt="Image"
            class="img-username"
          />
          <div class="userName">{{usr_nick}}</div>
          <img
            src="{{url_for('static', filename='/image/userdown.svg')}}"
            alt="Image"
            class="img-username"
          />
        </button>
      </div>
    </header>

    <aside class="side-bar">
      <ul>
        <a href="{{ url_for('dataManagement') }}">
          <li class="toggle" id="dataManagement">
            <span class="'side-bar-icon">
              <img
                src="{{url_for('static', filename='/image/data_icon.svg')}}"
                alt="Image"
                class="img-fluid"
              />
            </span>
            <span class="side-bar-text">데이터 관리</span>
          </li>
        </a>
        <a href="{{ url_for('modelManagement') }}">
          <li class="toggle" id="modelManagement">
            <span class="'side-bar-icon">
              <img
                src="{{url_for('static', filename='/image/model_icon.svg')}}"
                alt="Image"
                class="img-fluid"
              />
            </span>
            <span class="side-bar-text">모델 관리</span>
          </li>
        </a>
        <li class="toggle" id="userManagement">
          <img
            src="{{url_for('static', filename='/image/user_icon.svg')}}"
            alt="Image"
            class="img-fluid"
          />
          <span class="side-bar-text">사용자 관리 </span>
          <img
            src="{{url_for('static', filename='/image/down.svg')}}"
            alt="Image"
            class="down-img"
          />
          <ul>
            <a href="/userManagement_systemManager">
              <li class="sub-li" style="margin-top: 14px">시스템 관리자</li>
            </a>
            <a href="/userManagement_dataManager">
              <li class="sub-li">데이터 관리자</li>
            </a>
            <a href="/userManagement_modelManager">
              <li class="sub-li">모델 관리자</li>
            </a>
          </ul>
        </li>
        <li class="toggle" id="systemManagement">
          <img
            src="{{url_for('static', filename='/image/system_icon.svg')}}"
            alt="Image"
            class="img-fluid"
          />
          <span class="side-bar-text">시스템 관리 </span>
          <img
            src="{{url_for('static', filename='/image/down.svg')}}"
            alt="Image"
            class="down-img"
          />
          <ul>
            <a href="/systemManagement_agencyManagement">
              <li class="sub-li2" style="margin-top: 14px">기관 관리</li>
            </a>
            <a href="#">
              <li class="sub-li2">데이터 관리자</li>
            </a>
          </ul>
        </li>
      </ul>
    </aside>

    <section>{% block content %}{% endblock %}</section>
    <!-- userinfo -->
    <div id="overlayBox" class="overlay-box">
      <img
        src="{{url_for('static', filename='/image/userInfoClose.svg')}}"
        alt="Close"
        class="close-button"
        onclick="hideOverlayBox()"
      />
      <img
        src="{{url_for('static', filename='/image/userInfoPhoto.svg')}}"
        alt="User Photo"
        class="user-photo"
      />
      <div class="user-name">{{usr_nick}}</div>
      <div class="button-area">
        <button class="profile-button" onclick="profileClick('{{usr_idx}}')">
          <img
            src="{{url_for('static', filename='/image/userProfile.svg')}}"
            alt="User Profile"
            class="user-Profile"
          />
          <div class="profile-name">프로필</div>
        </button>
        <button class="logout-button">
          <img
            src="{{url_for('static', filename='/image/userLogout.svg')}}"
            alt="User Logout"
            class="user-Logout"
          />
          <div class="logout-text" onclick="userLogout('{{usr_id}}')">로그아웃</div>
        </button>
      </div>
    </div>
    <!-- userinfo -->
    <!--프로필 모달 -->
    <div id="profileModal" class="profilemodal">
      <div class="profilemodal-content">
        <div class="profilemodal-title">
          <div class="profilemodal-title-name">프로필</div>
          <span class="close" id="closeModalBtn" onclick="closeProfileModal()"
            >&times;</span
          >
        </div>
        <div class="profilemodal-input">
          <div class="profilemodal-input1">
            <div >아이디</div>
            <input
              type="text"
              placeholder="5~30글자/영문,한글,숫자,특수문자"
              class="profile-input"  id="profileUserId" 
            />
            <div class="profile-input-title">닉네임</div>
            <input
              type="text"
              placeholder="5~30글자/영문,한글,숫자,특수문자"
              class="profile-input"  id="profileUserNick"
            />
            <div class="profile-input-title">E-mail</div>
            <input
              type="text"
              placeholder="5~30글자/영문,한글,숫자,특수문자"
              class="profile-input" id="profileUserEmail"
            />   
            <div class="profile-input-title">기관명</div>
              <input
              type="text"
              placeholder="5~30글자/영문,한글,숫자,특수문자"
              class="profile-input"  id="profileUserEnter"
            />
            <div class="profile-secession-container">
              <button
                class="profile-secession-button"
                onclick="userSecession('{{usr_idx}}')"
              >
                탈퇴하기
              </button>
              <div class="profile-secession-text">
                회원님의 계정을 삭제합니다. 삭제된 계정은 다시 복원할 수 없습니다.
              </div>
            </div>
          </div>
          <div class="profilemodal-input2">
            <div >이름</div>
            <input
              type="text"
              placeholder="5~30글자/영문,한글,숫자,특수문자"
              class="profile-input"  id="profileUserName"
            />
            <div class="profile-input-title">휴대폰 번호</div>
            <input
              type="text"
              placeholder="5~30글자/영문,한글,숫자,특수문자"
              class="profile-input" id="profileUserPhone"
            />
            <div class="profile-input-title">비밀번호</div>
            <input
            type="password"
            placeholder="5~30글자/영문,한글,숫자,특수문자"
            class="profile-input" id="newPassword"
          />   
          <div class="profile-input-title">비밀번호 확인</div>
            <input
            type="password"
            placeholder="5~30글자/영문,한글,숫자,특수문자"
            class="profile-input"id="newPasswordCheck"
          />
            <button class="profile-modify-button" onclick="passwordModify('{{usr_idx}}')">비밀번호 수정</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!--프로필 모달 -->
      <!-- 확인 취소모달 -->
      <div id="confirmcancelPopup" class="confirmcancelPopup">
        <div class="confirmcancelPopup-content">
          <span
            class="confirmcancelPopup-close"
            onclick="closeconfirmcancelPopup()"
            >&times;</span
          >
          <div class="confirmcancelPopup-container">
            <div class="confirmcancelPopup-title" id="confirmcancelpopupTitle">
              확인 취소 모달
            </div>
            <div
              class="confirmcancelPopup-message"
              id="confirmcancelpopupMessage"
            >
              확인 취소 모달입니다.
            </div>
          </div>
          <button class="confirmBtn" onclick="confirmcancelpopupOk()">
            확인
          </button>
          <button class="confirmcancelBtn" onclick="confirmcancelpopupCancel()">
            취소
          </button>
        </div>
      </div>
      <!-- 확인 취소 모달 -->
      <!-- 확인 취소모달 -->
      <div id="confirmcancelPopup2" class="confirmcancelPopup2">
        <div class="confirmcancelPopup-content">
          <span
            class="confirmcancelPopup-close"
            onclick="closeconfirmcancelPopup2()"
            >&times;</span
          >
          <div class="confirmcancelPopup-container">
            <div class="confirmcancelPopup-title" id="confirmcancelpopupTitle2">
              확인 취소 모달
            </div>
            <div
              class="confirmcancelPopup-message"
              id="confirmcancelpopupMessage2"
            >
              확인 취소 모달입니다.
            </div>
          </div>
          <button class="confirmBtn" onclick="confirmcancelpopupOk2('{{usr_idx}}')">
            확인
          </button>
          <button class="confirmcancelBtn" onclick="confirmcancelpopupCancel2()">
            취소
          </button>
        </div>
      </div>
      <!-- 확인 취소 모달 -->
      <!-- 확인 모달 -->
      <div id="confirmPopup" class="confirmPopup">
        <div class="confirmPopup-content">
          <span class="confirmPopup-close" onclick="closeconfirmPopup()"
            >&times;</span
          >
          <div class="confirmPopup-container">
            <div class="confirmPopup-title" id="confirmpopupTitle"></div>
            <div class="confirmPopup-message" id="confirmpopupMessage"></div>
          </div>
          <button class="confirmBtn" onclick="confirmpopupOk()">확인</button>
        </div>
      </div>
      <!-- 확인 모달 -->
  </body>
</html>
