<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/main/systemManagement/agencyManagement.css')}}"
    />
  </head>
  <body>
    {% extends 'common/common.html' %} {% block content %}
    <section class="agency-section">
        <iframe src="http://211.46.241.214:31096/d/1zjEqq54k/resource?orgId=1" width="100%" height="100%" frameborder="0"></iframe>
    </section>
    {% endblock %}
  </body>
</html>
