<!-- page1.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataManagement.css')}}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dataManagement.js') }}"></script>
    <title>DataManagement</title>
</head>
<body>

    {% extends 'common.html' %}

    {% block content %}
    <section>
        <div><h1>dataManagement</h1></div>
    </section>
    {% endblock %}
</body>
</html>
